<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  IgnorableNamespaces="uap mp uap3">

  <Identity
    Name="21271dunp.536363C6385BB"
    Publisher="CN=AA477F6F-880E-47BB-8527-8EED22CDE4E9"
    Version="1.2.0.0" />

  <mp:PhoneIdentity PhoneProductId="6e4a979c-cbd0-4fb7-88b4-dd3cb2a6641c" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>聚合搜索</DisplayName>
    <PublisherDisplayName>dunp</PublisherDisplayName>
    <Logo>Assets\icon\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="聚合搜索.App">
      <uap:VisualElements
        DisplayName="并查集"
        Square150x150Logo="Assets\icon\Square150x150Logo.png"
        Square44x44Logo="Assets\icon\Square44x44Logo.png"
        Description="并查集"  BackgroundColor="#eeeeee">
        <uap:DefaultTile Wide310x150Logo="Assets\icon\Wide310x150Logo.png" Square71x71Logo="Assets\icon\SmallTile.png" Square310x310Logo="Assets\icon\LargeTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square310x310Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:SplashScreen Image="Assets\icon\SplashScreen.png"   BackgroundColor="#eeeeee"/>
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="portrait"/>
          <uap:Rotation Preference="landscapeFlipped"/>
          <uap:Rotation Preference="portraitFlipped"/>
          <uap:Rotation Preference="landscape"/></uap:InitialRotationPreference>
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient"/></Capabilities>
</Package>